*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("./images/bg.png");
    background-size: cover;
}

.navbar{
    border: 2px solid black;
    height: 60px;
    background-color: #8dbfa1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav_logo{
    margin:5px;
    background-image: url("./images/nav-logo.webp");
    background-size: cover;
    height: 55px;
    width: 180px;
    border: 2px solid black;
    border-radius: 10px;
}

ul{
    list-style: none;
    text-decoration: none;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    color: black;
}

ul li a:hover{
    background-color: #b3d9aa;
}

.cal{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe{
    border: 2px solid black;
    border-radius: 10px;
    height: 650px;
    width: 900px;
}
